@model Cliente.Sinai.EntRol

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntRol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdRol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  IdRol = Model.IdRol }) |
    @Html.ActionLink("Back to List", "Index")
</p>
